[submodule "pyutils"]
	path = pyutils
	url = git@github.com:mithrandirmatt/pyutils.git
[submodule "assets/reference/godot-docs"]
	path = assets/reference/godot-docs
	url = https://github.com/godotengine/godot-docs.git
